@use "../../styles/cores/cores.scss" as colors;

.descricaoLivro {
  background-color: colors.$bege;
  padding: 20px 20px 35px 20px;
  border-radius: 0px 15px 0px 15px;
  display: flex;
  flex-direction: column;
}

.quantidade {
  position: absolute; /* Posiciona a quantidade no topo à direita */
  top: 20px;
  right: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  z-index: 8;

  @media (max-width: 520px) {
    position: static; /* Remove o posicionamento absoluto */
    margin-top: 20px; /* Adiciona um espaçamento superior */
    text-align: center; /* Centraliza o texto */
  }
}

.capaInfo {
  display: flex;
  flex-direction: row;

  @media (max-width: 768px) {
    flex-direction: column; // Empilha a capa e as informações em telas pequenas
  }
}

.capaLivro {
  margin: 0 auto;
}

.infoLivro {
  margin-left: 20px;
  width: 100%;
  margin-top: 65px;

  @media (max-width: 768px) {
    margin-left: 0;
    margin-top: 20px; // Adiciona espaçamento entre capa e informações
    text-align: center; // Centraliza o texto em telas pequenas
  }
}

.generosLivro {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center; // Centraliza os botões

  @media (max-width: 983px) {
    margin-top: 20px;
  }

  @media (max-width: 768px) {
    gap: 10px; // Ajuste para telas menores
  }

  @media (min-width: 769px) {
    gap: 20px;
    justify-items: center; // Garante que os itens sejam centralizados na grid
  }
}

.divGenerosLivro {
  display: flex;
  flex-wrap: wrap;
  gap: 15px; // Adiciona espaçamento entre os botões
  justify-content: center;

  @media (max-width: 768px) {
    gap: 20px;
  }

  @media (max-width: 576px) {
    display: flex;
    flex-direction: column; // Empilha os botões em telas pequenas
    gap: 8px; // Ajusta o espaçamento para empilhamento
  }
}

.divSinopse {
  margin: 1rem;
  text-align: justify;

  @media (max-width: 520px) {
    margin: 0.5rem;
    text-align: left;
  }
}
