@use "../../../styles/index.scss" as color;

.botao {
  background-color: color.$azul-escuro;
  color: color.$branco;
  padding: 10px 50px;
  font-size: 1.7rem;
  border-radius: 12px;
  cursor: pointer;
  
  @media screen and (max-width: 1004px) {
    font-size: 1.5rem;
  }

  
  @media screen and (max-width: 768px) {
    font-size: 1rem;
    padding: 10px 30px;
  }
}
