@import "../../styles/index.scss";

.container {
    background-color: $roxo-escuro; 
    border-radius: 0px 20px 0px 25px;
    padding: 20px;
    color: $bege;
    text-align: center;
  }
  
  .titulo {
    font-size: 18px;
    margin-top: 50px;
    font-weight: 400;
    font-style: italic;
  }
  
  .itens {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    
  }