@import '../../../styles/index.scss';

.form{
    width: 50vw;
    
    .cardFundo{
        padding: 30px 20px;
        background-color: $branco-rosado;
        border-top-left-radius: 40px;
        border-bottom-right-radius: 40px;

        .cardTitulo{
            color: $azul-escuro;
            text-align: center;
            font-weight: bolder;
            font-family: Poppins;
            font-size: 3rem;
        }
        .botao{
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 35px;
        }
        .texto{
            display: flex;
            justify-content: space-around;
            padding-top: 25px;
            color: $azul-escuro;
            a{
                color: $azul-escuro;
                
            }
        }
    }
}
.error{
    width: 100%;
    height: 20px;
    color: $vermelho;
}

@media screen and (max-width: 768px) {
    .form{
        width: 80vw;
        
        .cardFundo{
            padding: 30px 20px;
            background-color: $branco-rosado;
            border-top-left-radius: 40px;
            border-bottom-right-radius: 40px;
    
            .cardTitulo{
                color: $azul-escuro;
                text-align: center;
                font-weight: bolder;
                font-family: Poppins;
            }
            .botao{
                width: 100%;
                display: flex;
                justify-content: center;
                margin-top: 35px;
            }
            .texto{
                display: flex;
                justify-content: space-around;
                padding-top: 25px;
                color: $azul-escuro;
                a{
                    color: $azul-escuro;
                    
                }
            }
        }
    }
}
@media screen and (max-width: 576px) {
    .form{
        .cardFundo{
            .botao{
                margin-top: 10px;
            }
            .texto{
                display: block;
                text-align: center;
            }
        }
    }
}