@use "../../../styles/cores/cores" as color;

.container {
  background-color: color.$azul-escuro;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 5rem;
  padding: 5vh;

  // Centralizar o último elemento quando há 7 itens
  & > :nth-child(7) {
    grid-column: 2; // Centraliza na segunda coluna
  }
}