@import './cores/cores.scss';

@font-face {
    font-family: Inter;
    src: local(Inter), url('./fonts/Inter.ttf');
}

@font-face {
    font-family: Poppins;
    src: local(Poppins), url('./fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins;
    src: local(Poppins), url('./fonts/Poppins-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: Montserrat;
    src: local(Montserrat), url('./fonts/Montserrat-VariableFont_wght.ttf');
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 16px;
    vertical-align: baseline;
    font-family: Poppins, sans-serif;
}
.react-select__control {
background-color: $bege-claro !important;
border-radius: 15px !important;
box-shadow: none !important;
}
.react-select__placeholder {
    color: $cinza !important;
    border: none; 
}
.react-select__dropdown-indicator{
    color: $cinza !important;
    border: none; /* Remove qualquer borda */
    background: none;
}
.react-select__indicator-separator {
    display: none; /* Remove o separador */
}



@media (max-width: 790px) {
    .react-select__placeholder {
        font-size: small;
        padding: 0;
    }
}