@import '../../../styles/index.scss';

.principal{
    font-size: 16px;
    
    .body{
        display: flex;
        border-radius: 20px;
        padding-block: 10px;
        text-align: center;
        margin-block: 15px;
        align-items: center;
        color: $azul-escuro;
        font-weight: 600;
        background-color: $laranja-claro;
    
        .data{
            width: 20%;
        }
        .capa{
            width: 15%;

            .imagem{
                width: 150px;
                height: 240px;
                padding-block: 5px;
            }
        }
        .titulo{
            width: 30%;
            cursor: pointer;
        }
        .num{
            width: 20%;
        }
        .opcoes{
            width: 15%;
            display: flex;
            justify-content: space-around;

            .editar{
                cursor: pointer;
                font-size: 30px;
            }
            
            .excluir{
                cursor: pointer;
                font-size: 30px;
                color: $vermelho;
            }
        }
    }    
    .modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;

        .error{
          color: red;
          width: 100%;
          height: 40px;
          font-size: 14px;
        }

        .modalExcluir {
            background-color: $marrom-laranja;
            padding: 20px;
            border-radius: 20px;
            width: 500px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            justify-content: center;
            font-weight: lighter;
      
            .titulo {
              font-size: 32px;
              font-weight: bold;
            }
      
            .mensagem {
              text-align: center;
              .nome {
                font-weight: bold;
              }
            }
      
            .botoes {
              display: flex;
              justify-content: center;
              gap: 25px;
      
              .closeButton,
              .saveButton,
              .deleteButton {
                padding: 15px 25px;
                margin: 10px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                font-weight: bold;
              }
      
              .closeButton {
                background-color: $azul-escuro;
                color: $branco;
              }
      
              .deleteButton {
                background-color: $laranja;
                color: $azul-escuro;
                transition: background-color 0.3s ease, color 0.3s ease;
      
                &:hover {
                  background-color: $azul-escuro;
                  color: $branco;
                }
              }
            }
          }
          .modalSenha {
            background-color: $marrom-laranja;
            padding: 20px;
            border-radius: 20px;
            width: 500px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-weight: lighter;
      
            .titulo {
              font-size: 32px;
              font-weight: bold;
              text-align: center;
            }
      
            .mensagem {
              font-weight: bold;
              font-size: 16px;
      
              .nome {
                font-weight: bold;
              }
            }
      
            .botoes {
              display: flex;
              justify-content: center;
              gap: 25px;
      
              .closeButton,
              .saveButton {
                padding: 15px 25px;
                margin: 10px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                font-weight: bold;
              }
      
              .closeButton {
                background-color: $azul-escuro;
                color: $branco;
              }
      
              .saveButton {
                background-color: $laranja;
                color: $azul-escuro;
                transition: background-color 0.3s ease, color 0.3s ease;
      
                &:hover {
                  background-color: $azul-escuro;
                  color: $branco;
                }
              }
            }
          }
    }
}
