@import '../../styles/index.scss';

.carregando{
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  span{
    background-color: $azul-escuro;
    padding: 30px;
    color: $branco;
    border-radius: 12px;
  }
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 20px;
    .parteLaranja {
      z-index: 10;
      position: relative;
    }
    
    
    .parteAzul {
      margin-top: -30px;
      z-index: 2;
      position: relative;
    }
  }
  
  /* Parte azul (ficará por baixo) */

  @media (max-width: 992px) {
    .container{
        width: 100%;
    }
  }

  
  
  
  