@import '../../../styles/index.scss';

.botao{
    background-color: $laranja;
    color: $azul-escuro;
    padding: 10px 50px;
    font-size: 1.7rem;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;

  &:hover {
    transform: scale(1.01);
  }

  &:active {
    transform: scale(0.98);
  }

  &:disabled {
    background-color: $cinza;
    color: $branco;
    cursor: not-allowed;
  }
}

@media screen and (max-width: 400px) {
  .botao{
    font-size: 1rem;
  }
}
