@use "../../../styles/index.scss" as color;

.botao {
  background-color: color.$laranja;
  color: color.$azul-escuro;
  font-weight: bold;
  padding: 20px;
  font-size: 1.1rem;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;

  &:hover {
    transform: scale(1.01);
  }

  &:active {
    transform: scale(0.98);
  }

  &:disabled {
    background-color: color.$cinza;
    color: color.$branco;
    cursor: not-allowed;
  }
}