@import '../../../styles/index.scss';

.principal{
  display: flex;
  justify-content: space-between;

  .erro{
      color: $vermelho;
  }
  .label{
      font-family: Inter;
      color: $bege-claro;
      margin-bottom: 5px;
      padding-left: 12px;
  }
}

.input{
    border-radius: 15px;
    width: 100%;
    background-color: $bege-claro;
    padding: 5px;
    padding-left: 12px;
    color: $cinza;
    box-sizing: border-box;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
@media screen and (max-width: 700px) {
  .label{
      font-size: small;
  }
  .input{
      font-size: small;
      height: 40px;
  }
}