@import "../../styles/index.scss";

.fundo {
  font-family: Inter;
  background-color: $roxo-escuro;
  width: 100%;
  height: 80%;
  padding-block: 15px;
  border-radius: 40px;
  margin: 0 auto;
  overflow-x: hidden;
  margin-top: 20px;
  max-height: 60vh;
  overflow-y: auto;
  padding: 15px;

  .dupla {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-block: 10px;
    margin-bottom: 25px;
  }
  .esquerdo {
    width: 58%;
  }
  .direito {
    width: 40%;
  }
  .ultimaDupla {
    display: flex;
    gap: 20px;
    margin-block: 10px;
    margin-bottom: 25px;

    .classSinopse {
      width: 60%;

      .classificacao {
        margin-bottom: 25px;
      }
      .sinopse {
        height: 100%;
      }
    }

    .centraliza {
      display: flex;
      justify-content: center;
      width: 40%;
      .capa{
        width: 80%;
      }
      .botao{
        margin-left: -55px;
        margin-top: -50px;
      }
    }
  }
  @media screen and (max-width: 992px){
    .dupla{
        padding-inline: 1.5%;
    }
    .ultimaDupla{
        display: block;
        .classSinopse{
            width: 100%;
        }
        .centraliza{
            width: 100%;
            .botao{
                display: flex;
                justify-content: center;
                margin-left: -20px;
            }
        }
    }
  }
  @media screen and (max-width: 700px){
    .fundo{
      width: 80%;
    }.dupla{
        padding-inline: 1.5%;
        display: block;
    }.direito{
      margin-bottom: 25px;
      width: 100%;
    }.esquerdo{
      margin-bottom: 25px;
      width: 100%;
    }
    .ultimaDupla{
        display: block;
        .classSinopse{
            width: 100%;
        }.classificacao{
          width: 100%;
        }

    }
  }
}


