@import '../../../styles/index.scss';

.modal {
    width: 100%;
    height: 100%;
    color: $azul-escuro;
    display: flex;
    flex-direction: column;

    .header {
        padding: 10px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: sticky;
        top: 0;
        z-index: 10;

        .icon {
            width: 32px; // ou o tamanho que quiser
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;

            cursor: pointer;
            padding: 6px;
            border-radius: 8px;
            transition: background-color 0.2s;

            &:hover {
                background-color: $vermelho;
                color: $branco-rosado;
            }

            svg {
                font-size: 18px; // ajuste o tamanho do ícone aqui se necessário
            }
        }

    }

    .body {
        flex: 1; // ocupa o espaço restante do modal
        display: flex;
        align-items: flex-start;
        justify-content: center;
        text-align: center;
        padding: 0 20px;
        overflow-y: auto;
        max-height: calc(100vh - 60px); // altura máxima (subtraindo o header, se necessário)

        .titulo {
            word-break: break-word;
            max-width: 100%;
        }
    }

}