@import '../../../styles/index.scss';

.modalOverlay {
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;

}

.modalContent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  background-color: #ddc1a7;
  border-radius: 32px;
  padding: 2rem;
  width: fit-content;
  max-width: 90%;
  max-height: 90vh;
  overflow: auto;
  
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 70%;
  max-width: 350px;
  margin: auto;
  border-radius: 12px;
  background-color: #ddc1a7;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 1rem;

  @media (max-width: 576px) {
    width: 60%;
    max-height: 360px;
  }
}

.modal {
  width: 100%;
  color: $azul-escuro;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  
  .header {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;

    .icon {
      position: absolute;
      top: -5;
      right: 0;
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;

      cursor: pointer;
      padding: 6px;
      border-radius: 8px;
      transition: background-color 0.2s;

      &:hover {
        background-color: $vermelho;
        color: $branco-rosado;
      }

      svg {
        font-size: 18px;
      }
    }
  }

  .body {
    padding: 0 20px 20px;
    overflow-y: auto;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;

    flex: 1;             // Ocupa o espaço restante dentro do modal
    min-height: 50px;    // Altura mínima para o conteúdo
    max-height: 280px;   // Limite máximo da área de conteúdo

    .titulo {
      word-break: break-word;
      max-width: 100%;
      margin-top: 10px;
    }
  }
}

@media screen and (max-width: 576px) {
  .body {
    .titulo {
      font-size: 18px;
    }
  }
}