@use "../../../styles/cores/cores" as color;

.row {
  font-weight: 600;
  width: 100%;
  display: flex;
  background-color: color.$laranja-claro;
  border-radius: 15px;
  padding: 2vh 5vh;
  justify-content: space-around;
  align-items: center;
  color: color.$azul-escuro;

  .nome {
    width: 40%;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
  
    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 3rem;
      pointer-events: none;
      background: linear-gradient(to right, rgba(color.$laranja-claro, 0), rgba(color.$laranja-claro, 1));
    }
  }
  
  
  .status {
    width: 40%;
    text-align: center;
  }
  .opcoes {
    width: 20%;
    text-align: center;
  }
}
@media screen and (max-width: 576px) {
  .row {
    padding: 2vh 2vh;
    .nome{
      width: 30%;
      font-size: 14px;
    }
    .status{
      font-size: 14px;
    }
  }
}
