@use "../../../styles/cores/cores" as color;

.modalSenha {
  background-color: color.$marrom-laranja;
  padding: 20px;
  border-radius: 20px;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  font-weight: lighter;

  
  .titulo {
    font-size: 32px;
    font-weight: bold;
  }
  @media screen and (max-width: 576px) {
    width: 300px;
    .titulo{
      font-size: 25px;
    }
  }

  .botoes {
    display: flex;
    justify-content: center;
    gap: 25px;

    .closeButton,
    .saveButton {
      padding: 15px 25px;
      margin: 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-weight: bold;
    }
    
    @media screen and (max-width: 576px) {
      .closeButton,
      .saveButton {
        margin: 0;
        padding: 10px 15px;
      }
    }
    .closeButton {
      background-color: color.$azul-escuro;
      color: color.$branco;
    }

    .saveButton {
      background-color: color.$laranja;
      color: color.$azul-escuro;
      transition: background-color 0.3s ease, color 0.3s ease;

      &:hover {
        background-color: color.$azul-escuro;
        color: color.$branco;
      }
    }
  }
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
