@use "../../../styles/cores/_cores.scss" as color;

.footer {
  background-color: color.$cinza;

  .footer-container {
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem;

    .logo-container {
      display: flex;
      align-items: center;
      justify-content: center;    }

    .footer-content {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
