@use "../../styles/cores/cores" as color;

.container-geral {
  display: flex;
  justify-content: space-around;
  background-color: color.$azul-escuro;
  color: color.$laranja;
  padding-bottom: 5vh;

  .container-informacoes {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    .titulo-container {
      width: 90%;

      .titulo {
        font-size: 2.5rem;
      }
    }

    .container-inputs {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      width: 90%;

      .inputs {
        display: flex;
        flex-direction: column;
        justify-content: end;
        label{
          font-size: 1.2rem;
        }
      }
    }

    .container-botao {
      width: 90%;
      display: flex;
      justify-content: end;
    }
  }

  .container-historico {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .titulo-historico {
      width: 80%;
      .tituloFonte{
        font-size: 40px;

      }
    }

    .tabela {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 80%;
      padding: 2vh 0;
      gap: 5px;

      .head {
        font-weight: 600;
        width: 100%;
        display: flex;
        background-color: color.$laranja;
        border-radius: 15px;
        padding: 2vh 5vh;
        justify-content: center;
        align-items: center;
        color: color.$azul-escuro;

        .titulo {
          width: 40%;
        }
        .status {
          width: 40%;
          text-align: center;
        }
        .opcoes {
          width: 20%;
          text-align: center;
        }
      }

      .conteudo {
        width: 100%;
        max-height: 350px;
        overflow-y: auto;

        scrollbar-color: color.$laranja-claro color.$azul-escuro;

        .linha {
          margin-bottom: 5px;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .container-geral{
    display: block;
    .container-historico{
      .titulo-historico{
        width: 90%;
      }
      .tabela{
        width: 90%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .container-geral{
    display: block;
    .container-historico{
      .titulo-historico{
        width: 90%;
      }
      .tabela{
        width: 90%;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .container-geral{
    display: block;
    .container-informacoes {
      .titulo-container {
        .titulo {
          padding-top: 20px;
          font-size: 1.7rem;
          text-align: center;
        }
      }
      .container-inputs{
        display: block;
      }
      .container-botao{
        justify-content: center;
      }
    }
    .container-historico{
      .titulo-historico{
        width: 90%;
        .tituloFonte{
          padding-top: 20px;
          font-size: 1.7rem;
          text-align: center;
        }
      }
      .tabela{
        width: 90%;
      }
    }
  }
}