@import '../../../styles/index.scss';

.carregando{
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  span{
    background-color: $azul-escuro;
    padding: 30px;
    color: $branco;
    border-radius: 12px;
  }
}