@import '../../styles/index.scss';

.principal{
    font-size: 16px;
    
    .body{
        display: flex;
        border-radius: 20px;
        padding-block: 10px;
        text-align: center;
        margin-block: 15px;
        border: 1px $preto solid;
        align-items: center;
    
        .data{
            width: 20%;
        }
        .capa{
            width: 15%;

            .imagem{
                width: 150px;
                height: 240px;
                padding-block: 5px;
            }
        }
        .titulo{
            width: 30%;
        }
        .num{
            width: 20%;
        }
        .opcoes{
            width: 15%;
            display: flex;
            justify-content: space-around;

            .botao{
                background-color: $bege-claro;
                border: 1px solid $preto;
                border-radius: 20px;
                padding: 5px 15px;
            }

            .excluir{
                cursor: pointer;
            }
        }
    }    
}

@media screen and (max-width: 992px) and (min-width: 768px) {
    .principal{
        .body{
            .data{
                width: 25%;
            }
            .capa{
                display: none;
            }
            .titulo{
                width: 30%;
            }
            .num{
                width: 25%;
            }
            .opcoes{
                width: 20%;
            }
        }    
    }
}

@media screen and (max-width: 768px) {
    .principal{
        
        .body{
            width: 992px;
            .data{
                width: 25%;
            }
            .capa{
                display: none;
            }
            .titulo{
                width: 30%;
            }
            .num{
                width: 25%;
            }
            .opcoes{
                width: 20%;
            }
        }    
    }
}