@use "src/styles/cores/cores" as color;

// Estilo da barra de navegação principal
.navbar {
  background-color: color.$bege;
  transition: background-color 0.3s ease;

  // Container principal da navbar
  .navbar-container {
    display: flex;
    align-items: center; // Alinha verticalmente os itens
    justify-content: space-between; // Espaça logo e links
    padding: 1.5rem 2rem;
    position: relative;

    @media (min-width: 770px) {
      gap: 1.5rem;
      justify-content: flex-start;
    }

    @media (max-width: 576px) {
      justify-content: space-between;
    }
  }

  // Estilo do logo da navbar
  .navbar-logo {
    display: flex;
    align-items: center; // Alinha verticalmente ao centro
    gap: 0.5rem; // Espaçamento entre o ícone e o texto
    color: color.$roxo-escuro;

    .logo-icon {
      width: auto;
      height: 1.5em;
      display: block;
    }

    span {
      line-height: 1; // Remove espaços verticais
      font-size: 1.5rem;
      font-family: Montserrat, sans-serif;
      font-weight: bold;
    }

    a {
      text-decoration: none;
      color: inherit;
      display: flex;
      align-items: center;
      transition: color 0.3s ease-in-out;
    }
  }

  // Estilo dos links de navegação
  .navbar-links {
    list-style: none;
    display: none;
    gap: 1.5rem;
    font-size: 1.1rem;
    font-weight: 600;

    li a {
      text-decoration: none;
      color: color.$roxo-escuro;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: color.$roxo-claro;
      }
    }

    @media (min-width: 577px) {
      display: flex;
      align-items: center;
    }
  }

  // Links no menu móvel
  .navbar-button {
    list-style: none;
    display: none;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
  
    li {
      display: flex; 
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  
    li a {
      display: flex; // Garante alinhamento correto
      justify-content: center;
      align-items: center;
      text-decoration: none;
    }
  
    @media (max-width: 576px) {
      display: grid; 
      grid-template-columns: repeat(2, 1fr); // Duas colunas
      gap: 10px; 
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: color.$bege;
      padding: 12px; // Espaço extra para toque
      border-top: solid 2px darken(color.$bege, 5%);
      max-height: 0;
      overflow: hidden;
      opacity: 0;
      box-sizing: border-box;
  
      // Botões extras centralizados
      & li:nth-child(odd):last-child {
        grid-column: span 2; // Ocupa duas colunas
        justify-self: center; // Centraliza no grid
      }
  
      &.active {
        max-height: 500px;
        opacity: 1;
        animation: slideDown 0.5s ease-in-out forwards;
        z-index: 10;
      }
    }
  }
  

  // Botão hambúrguer
  .navbar-menu-toggle {
    display: none;
    background: none;
    border: none;
    color: color.$roxo-escuro;
    cursor: pointer;
    width: 28px;
    height: 28px;
    transition: color 0.3s ease-in-out;
    align-items: center;

    svg {
      font-size: 1.5rem;
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }

    &:hover {
      color: color.$branco;
    }

    @media (max-width: 576px) {
      display: flex;
    }
  }
}

// Animação para exibir o menu (deslizar para baixo)
@keyframes slideDown {
  from {
    max-height: 0;
    opacity: 0;
  }
  to {
    max-height: 500px;
    opacity: 1;
  }
}
