@use '../../../styles/cores/cores' as color;

.principal{
  background-color: color.$branco-rosado;
  padding: 4vh 4vw;

  .titulo {
    color: color.$azul-escuro;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 4vh;
  }
  .container {
    padding-top: 4vh;
  
    .cards_container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 3vh 2vw;
      padding: 0;
    }
  }
}
@media (max-width: 768px) {
  .principal{
    .titulo {
      font-size: 1.8rem;
      margin-bottom: 2vh;
      text-align: center;
    }
    .container {
      width: 80%;
      margin: 0 auto;
  
  
      .cards_container {
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
      }
    }
  }
}

