@import "../../../styles/index.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (max-width: 1024px) {
    align-items: left;
  }

  @media (max-width: 768px) {
    align-items: center;
    text-align: center;
  }
}

.titulo {
  font-family: Poppins;
  color: $azul-escuro;
  font-size: 3.50rem;
  font-weight: 900;
  letter-spacing: -0.030em;
  white-space: pre-line;

  @media (max-width: 1367px) {
    font-size: 3.2rem; // Ajuste suave para telas médias
    margin-top: 0.5rem;
  }


  @media (max-width: 1240px) {
    font-size: 2.0rem; // Ajuste suave para telas médias
    margin-bottom: 2.5rem; // Diminui a margem inferior
  }

  @media (max-width: 1160px) {
    font-size: 2.2rem; // Ajuste suave para telas de tamanho médio
  }

  @media (max-width: 1120px) {
    font-size: 2.5rem; // Ajuste suave para telas médias
    margin-bottom: 1.5rem; // Diminui a margem inferior
  }


  @media (max-width: 1107px) {
    font-size: 2.5rem; // Ajuste suave para telas de tamanho médio
    margin-top: 15px;
  }

  @media (max-width: 992px) {
    font-size: 1.875rem; // Ajuste suave para telas de tamanho médio
  }

  @media (max-width: 768px) {
    font-size: 2.5rem; // Ajuste mais acentuado em telas pequenas
    margin-bottom: 1.25rem; // Reduz a margem inferior
    text-align: center; // Centraliza o título em telas pequenas
  }

  @media (max-width: 540px) {
    margin-top: 40px;
  }

  @media (max-width: 412px) {
    font-size: 1.8em;
    display: flex;
    margin: 10px;
    padding: 0;
  }

   @media (max-width: 375px) {
    font-size: 1.5rem;
    text-align: center;
    display: flex;
  }

}

.autor {
  font-family: Inter;
  color: $azul-escuro;
  font-size: 1.5rem; // Aproximadamente 18px em rem
  font-style: italic;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 2.0rem;

  @media (max-width: 1160px) {
    font-size: 1.5rem; // Ajuste suave para telas de tamanho médio
  }

  @media (max-width: 1120px) {
    gap: 0;
    margin-top: 0.1rem;
    font-size: 2rem;
  }

  @media (max-width: 992px) {
    font-size: 1.5rem;
  }

  @media (max-width: 1024px) {
    font-size: 1.5rem; // Ajuste para telas médias
  }

  @media (max-width: 768px) {
    font-size: 2rem;
    text-align: center;
    display: flex;
  }

  @media (max-width: 768px) {
    font-size: 1.5rem;
  }

  @media (max-width: 414px) {
    font-size: 1.8em;
    display: flex;
  }
}