@import "../../../styles/index.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (max-width: 1024px) {
    align-items: left; // Centraliza no breakpoint médio
  }

  @media (max-width: 768px) {
    align-items: left; // Alinha ao centro em telas pequenas
  }
}

.titulo {
    font-family: Poppins;
    color: $azul-escuro;
    font-size: 3.50rem; // Aproximadamente 56px em rem
    font-weight: 900;
    letter-spacing: -0.030em;
    white-space: pre-line;


    @media (max-width: 1240px) {
        font-size: 2.0rem; // Ajuste suave para telas médias
        margin-bottom: 2.5rem; // Diminui a margem inferior
    }

    @media (max-width: 1024px) {
        font-size: 2.875rem; // Ajuste suave para telas de tamanho médio
    }

    @media (max-width: 992px) {
        font-size: 1.875rem; // Ajuste suave para telas de tamanho médio
      }

    @media (max-width: 768px) {
        font-size: 2.5rem; // Ajuste mais acentuado em telas pequenas
        margin-bottom: 1.25rem; // Reduz a margem inferior
        text-align: center; // Centraliza o título em telas pequenas
    }
}

.autor {
    font-family: Inter;
    color: $azul-escuro;
    font-size: 1.5rem; // Aproximadamente 18px em rem
    font-style: italic;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 2.0rem;

    @media (max-width: 1024px) {
        font-size: 1rem; // Ajuste para telas médias
    }

    @media (max-width: 768px) {
        font-size: 0.75rem; // Aumenta um pouco o tamanho da fonte no celular
        text-align: center; // Centraliza o nome do autor
    }
}