@use '../../styles/cores/cores' as color;

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  margin-bottom: 2rem;
  width: 100%;

  .cards {
    display: flex;
    width: 100%;
  }
}

.termo-pesquisa {
  font-size: 1.5rem;
  margin: 20px 2%;
  color: color.$cinza;
  border-bottom: 2px solid color.$azul-escuro;
  padding-bottom: 8px;
  width: fit-content;
}

.pesquisa {
  margin: 20px 2%;
  font-size: 1rem;
  color: color.$cinza;
  text-align: center;
}
