@import "../../../styles/index.scss";
.card {
    display: flex;
    flex-direction: column;
    background-color: $laranja;
    padding: 4vh;
    justify-content: center;
    max-width: 350px;
    gap: 10px;
    border-radius: 0px 20px 0px 20px;

    .titulo {
        text-align: center;
        color: $azul-escuro;
    }

    .paragrafo {
        padding-right: 15px;
        text-align: justify;
        max-height: 200px;
        overflow-y: scroll;
    }
    /* Target the vertical scrollbar */
::-webkit-scrollbar {
  width: 12px; /* width of the scrollbar */
}

/* Track (the background) */
::-webkit-scrollbar-track {
  background: $laranja;
  border-radius: 10px;
  
}

/* Thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: lighten($laranja, 5%);
  border-radius: 10px;

}

/* On hover */
::-webkit-scrollbar-thumb:hover {
  background: darken($laranja, 10%);
}

    .imagem {
        display: flex;
        justify-content: center;
    }
}
