@import '../../styles/index.scss';

.principal{
    margin: 40px 20px;

    .head{
        font-family: Inter;
        font-weight: 600;
        display: flex;
        background-color: $bege;
        border-radius: 15px;
        padding-block: 10px;
        text-align: center;
        color: $roxo-escuro;
    
        .data{
            width: 20%;
        }
        .capa{
            width: 15%;
        }
        .titulo{
            width: 30%;
        }
        .num{
            width: 20%;
        }
        .opcoes{
            width: 15%;
        }
    }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
    .principal{
        
        .head{
            .data{
                width: 25%;
            }
            .capa{
                display: none;
            }
            .titulo{
                width: 30%;
            }
            .num{
                width: 25%;
            }
            .opcoes{
                width: 20%;
            }
        }    
    }
}

@media screen and (max-width: 768px) {
    .principal{
        overflow-x: scroll;
        .head{
            width: 992px;
            .data{
                width: 25%;
            }
            .capa{
                display: none;
            }
            .titulo{
                width: 30%;
            }
            .num{
                width: 25%;
            }
            .opcoes{
                width: 20%;
            }
        }    
    }
}