@import '../../../styles/index.scss';

.btn{
  background-color: $bege;
  color: $roxo-escuro;
  font-size: 30px;
  transition: background-color 0.3s ease, color 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  border-radius: 10px;
  font-weight: 900;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 320px; 
  height: 3rem; 
  min-width: 8rem; 
  box-sizing: border-box;
  margin-left: 20px;
  margin-top: 10%;


  &:hover {
    background-color: $roxo-escuro;
    color: $bege-claro;
    border: solid $bege 2px;
  }
}
@media screen and (max-width: 576px) {
  .btn{
    width: 160px; 
    font-size: 18px;
    padding: 25px;
  }
}