@import '../../../styles/index.scss';

.btn{
    display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 5%; 
  height: 3rem; 
  min-width: 8rem;
  box-sizing: border-box;
    background-color: $bege-claro;
    color: $roxo-escuro;
    font-size: 1rem;
    transition: background-color 0.3s ease, color 0.3s ease-in-out;
    border: solid $roxo-escuro 1px;
    margin-bottom: 20%;

    &:hover {
      background-color: $roxo-escuro;
      color: $bege;
      
    }
}
.btnAtivo{
  display: flex;
align-items: center;
justify-content: center;
padding: 0.5rem 1rem;
border-radius: 10px;
font-weight: 500;
cursor: pointer;
transition: all 0.3s ease;
width: 5%; 
height: 3rem; 
min-width: 8rem;
box-sizing: border-box;
  background-color: $roxo-escuro;
  color: $bege;
  font-size: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease-in-out;
  border: solid $roxo-escuro 1px;}
