@use "../../../../styles/cores/cores" as color;

.contato-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;

  .contatos {
    font-family: "Poppins";
    font-weight: 600;
    color: color.$branco-rosado;
    font-size: 24px;
   }

  .lista-de-contatos {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;    
  }
}
