@use "../../../styles/cores/cores" as color;

.input {
  width: 100%;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 20px;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;

  &::placeholder {
    color: color.$cinza;
    font-style: italic;
  }
}
