@import "../../styles/index.scss";

.sinopseContainer {
    margin-inline: 40px;
}

.titulo {
    font-family: Inter;
    color: $roxo-escuro;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 20px;
}

.textoContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.texto {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-align: justify;
    line-height: 1.6;
    color: $preto; 
}


@media (max-width: 576px){
    .textoContainer{
        gap: 15px;
    };
}