@import "../../styles/index.scss";


.geral {
    justify-items: center;
    padding-block: 138px;

    .titulo {
        font-family: Inter;
        color: $bege;
        font-size: 16px;
        font-weight: 200;
        margin-bottom: 10px;
    }

    .icon {
        color: $bege;
        font-size: 30px;
    }

    .info{
        font-family: Inter;
        color: $bege;
        font-weight: bold;
    }
}