@import "../../styles/index.scss";


.geral {
    justify-items: center;
    padding-block: 40px;

    .titulo {
        font-family: Inter;
        color: $bege;
        font-size: 16px;
        font-weight: 200;
       
    }

    .icon {
        color: $bege;
        font-size: 30px;
    }

    .info {
        font-family: Inter;
        color: $bege;
        font-weight: bold;
    }
}



/* Para telas menores que 576px */
@media (max-width: 576px) {
    .geral {
        font-size: 12px ;

        .titulo{
            font-size: 14px;
        }

        .info{
            font-size: 12px;
        }
    }

}
