@use '../../../../styles/cores/cores' as color;

.barra{
    background-color: color.$branco;
    display: flex;
    justify-content: space-between;
    vertical-align: center;
    border-radius: 20px;
    margin-top: 7%;
    width: 70%;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    
    .pesquisa{
        width: 100%;
        box-shadow: 0 0 0 0;
        border: none;
        outline: 0;
        background-color: color.$branco;
    }

    .icon{
        font-size: 1.5rem;
        color: color.$branco;
        background-color: color.$azul-escuro;
        width: 10%;
        border-radius: 18px;
        padding: 5px;
    }
}
