@use "../../../../styles/cores/cores" as color;

.barra {
  background-color: color.$branco;
  display: flex;
  justify-content: space-between;
  vertical-align: center;
  border-radius: 20px;
  width: 70%;
  height: 50px;
  padding: 5px 20px;

  .pesquisa {
    width: 100%;
    box-shadow: 0 0 0 0;
    border: none;
    outline: 0;
    background-color: color.$branco;
  }

  .icon {
    font-size: 1.5rem;
    color: color.$branco;
    background-color: color.$azul-escuro;
    width: 50px;
    height: 100%;
    border-radius: 18px;
    padding: 10px;
    cursor: pointer;

    &:hover {
      background-color: color.$laranja;
      color: color.$branco;
      transform: scale(1.05);
      transition: all 0.3s ease;
    }
  }
}
@media screen and (max-width: 768px) {
  .barra {
    width: 85%;
    height: 42px;
    padding: 4px 12px;

    .pesquisa {
      font-size: 0.85rem;
    }
.icon{
  align-self: center;
  width: 30px;
  border-radius: 10px;
}

  }
}

@media screen and (max-width: 575.98px) {


.icon{
  align-self: center;
  width: 15%;
  border-radius: 10px;
}
  }
