@use "../../../styles/cores/cores" as color;

.modal {
  background-color: color.$marrom-laranja;
  padding: 20px;
  border-radius: 20px;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  font-weight: lighter;
  .closeButton {
    background-color: color.$marrom-laranja;
    display: flex;

    .icon {
      width: 5%;
      cursor: pointer;
      text-align: right;
      font-size: 20px;
    }
    .titulo {
      width: 95%;
      font-size: 32px;
      font-weight: bold;
    }
  }

  .Alinhadupla {
    display: flex;
    justify-content: space-between;

    .dupla {
      width: 48%;
      .generos{
        width: 100%;
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
      }
    }

    .nomeLivro {
      font-weight: 900;

    }
  }

  .botoes {
    display: flex;
    justify-content: left;
    gap: 25px;

    .none{
      display: none;
    }

    .closeButton,
    .saveButton {
      padding: 15px 25px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-weight: bold;
    }

    .closeButton {
      background-color: color.$azul-escuro;
      color: color.$branco;
    }

    .saveButton {
      background-color: color.$laranja;
      color: color.$azul-escuro;
      transition: background-color 0.3s ease, color 0.3s ease;

      &:hover {
        background-color: color.$azul-escuro;
        color: color.$branco;
      }
    }
  }
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
